<footer class="bg-black-80 pv4 ph3 ph5-m ph6-l white">
  <small class="f6 db tc">© 2016 <b class="ttu">{{ site.title }}</b></small>
  <div class="tc mt3">
    <a href="/about/" title="About" class="f6 dib ph2 link hover-white no-underline white-70">About</a>
    <a href="/about#contribute/" title="Contribute" class="f6 dib ph2 link hover-white no-underline white-70">Contribute</a>
    <a href="/about#contact/" title="Contact" class="f6 dib ph2 link hover-white no-underline white-70">Contact</a>
  </div>
</footer>
